@font-face {
    font-family: 'tangerine';
    src: url('../font/Tangerine-Regular.ttf');
}
@font-face {
    font-family: 'cereal';
    src: url('../font/CerealLight.ttf');
}
@font-face {
    font-family: 'roboto';
    src: url('../font/Roboto-Bold.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    background-color: #F0FFFF;
}
.menu{
    height: 80px;
    width: 100%;
    background-color: #00BFFF;
    display: flex;
    gap: 20px;
}
.logo-tipo{
    display: flex;
    flex: 3;
}
.ad-top {
  width: 100%;     /* largura padrão de banner mobile */
  height: 100px;    /* pode ser 50px também */
  margin: 0 auto;   /* centraliza horizontalmente */
  background: #ddd; /* cor de fundo só pra visualizar o espaço */
  text-align: center;
  line-height: 100px; /* alinha texto verticalmente se tiver */
  color: #333;
}
a{
    text-decoration: none;
    color: inherit;
}
.logo-tipo img{
    width: 100px;
    height: auto;
}
.menu-item{
    display: flex;
    flex: 5;
    align-items: center;
    gap: 20px;
    justify-content: center;
    font-family: 'cereal', sans-serif;
}
.menu-item-1,
.menu-item-2,
.menu-item-3 {
    background-color: #F0FFFF;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.menu-item-1:hover,
.menu-item-2:hover,
.menu-item-3:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.tabela-dieta{
    display: none;
}
.menu-mobile{
    display: none;
}
.pesquisar-item{
    display: flex;
    flex: 3;
    justify-content: flex-end;
    align-items: center;
}
.pesquisar-item img{
    margin-right: 5px;
}
.pesquisar{
    display: flex;
    align-items: center;
    background: #F0FFFF;
    margin-right: 30px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.2s ease;
}
.pesquisar:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.pesquisar input{
    border: 0;
    height: 40px;
    width: 200px;
    padding-left: 20px;
    font-size: 18px;
    font-family: 'cereal', sans-serif;
    color: #999c9c;
    outline: none;
}
.corpo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 80px;
}
.item{
       width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(63, 191, 241, 0.5);
    font-family: 'roboto', sans-serif;
    padding: 4px;
}
.item.selecionado{
    background: rgba(0, 191, 255, 0.9);
    transition: all 0.2s ease;
}
.corpo{
    display: flex;
}
.left{
    display: flex;
    flex: 1;
}
.center{
    display: flex;
    flex: 4;
    flex-direction: column;
}
.right{
    display: flex;
    flex: 1;
}
#mensagem-boas-vindas{
    font-family: 'circular', sans-serif;
    font-size: 20px;
    display: block;
    display: block;
    margin-bottom: 10px;
    line-height: 2; 
}
.img-alimentos{
    width: 40%;
    height: 20%;
    border-radius: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center; /
}
.alimento{
    display: flex;
    height: 150px;
    width: 150px;
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    font-family: 'cereal', sans-serif;
    padding-top: 5px;
    cursor: pointer;
}
.alimento.selecionado {
  background-color: #5de05d; /* azul claro */
  color: #fff; /* texto branco para contraste */
  border-radius: 8px;
  transition: background-color 0.3s;
}
.alimento img{
    width: 32px;
    height: auto;
}
.calculadora{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    gap: 40px;
}
.cal-item{
    display: flex;
    justify-content: center;
    height: 30px;
    gap: 10px;
    font-family: 'roboto';
}
.cal-item h2{
    font-family: 'roboto', sans-serif;

}
.cal-item select{
    cursor: pointer;
}
#btnCalcular{
    background-color: #00BFFF;
    color: #F0FFFF;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    font-size: 20px;
}
#btnLimpar{
     background-color: #00BFFF;
    color: #F0FFFF;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    display: none;
}
.add-remove{
    display: none;
    gap: 10px;
    width: 100%;
    height: 50px;
    background-color: #00BFFF;
    position: fixed;
    z-index: 1000; 
    bottom: 0;
}
.add-remove1{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add-remove1 img{
    width: 32px;
    height: 32px;
}
.add-remove2{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add-remove2 img{
    width: 32px;
    height: 32px;
}
.contador{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'roboto', sans-serif;
}
@media (max-width: 768px){
    .menu{
    height: 80px;
    width: 100%;
    background-color: #00BFFF;
    display: flex;
    gap: 5px;
}
.logo-tipo{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    padding: 0;
}
.logo-tipo img{
    width: 80px;
    height: auto;
}
.menu-item-1,
.menu-item-2,
.menu-item-3 {
    display: none;
}
.menu-mobile{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.menu-mobile img{
    width: 48px;
    height: auto;
    padding-right: 5px;
    margin-left: -8;
}
.pesquisar-item{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.pesquisar input{
    border: 0;
    height: 38px;
    width: 120px;
    padding-left: 20px;
    font-size: 15px;
    font-family: 'cereal', sans-serif;
    color: #767777;
    outline: none;
}
.left{
    display: none;
}
.right{
    display: none;
}
.ad-top {
  width: 100%;     /* largura padrão de banner mobile */
  height: 100px;    /* pode ser 50px também */
  margin: 0 auto;   /* centraliza horizontalmente */
  background: #ddd; /* cor de fundo só pra visualizar o espaço */
  text-align: center;
  line-height: 100px; /* alinha texto verticalmente se tiver */
  color: #333;
}
.menuresponsivo{
    display: none; /* escondido por padrão */
    flex-direction: column;
    background: rgba(0, 191, 255, 0.9);
    position: absolute;
    top: 60px; /* altura do header */
    width: 150px;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    color: white;
    gap: 15px;
    font-family: 'roboto', sans-serif;
    list-style: none;
    text-align: right;
    transition: all 0.2s ease;
    
}
.menuresponsivo:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.menuresponsivo.mostrar{
    display: flex;
}
.item{
    flex: 1 1 120px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(63, 191, 241, 0.5);
    font-family: 'roboto', sans-serif;
    padding: 8px;
}
.item.selecionado{
    background: rgba(0, 191, 255, 0.9);
    transition: all 0.2s ease;
}
.options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
}
}
#totais{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
}
.totais-info{
    display: flex;
    border: 1px solid rgb(207, 205, 205);
    font-family: 'roboto', sans-serif;
    border-radius: 10px;
    padding: 5px;
}

#carrinho {
  padding: 10px;
}

.item-carrinho {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f1f1f1;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 8px;
  font-family: 'cereal';
  font-size: 13px;
}

.qtd-controls button, .btn-remover {
  cursor: pointer;
  padding: 4px 8px;
}
